@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
    box-sizing: border-box;
    /* changes width property to total width instead of content width */
    font-family: Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}
article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}

body {
    margin: 0;
    /* remove any margin from body to avoid unsightly gaps. */
    padding: 0;
    /* ditto for padding  */
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-size: cover;
}

nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F07C6C;
    border-top: 1px solid grey;
    font-size: 13px;
}

.nav-bar-link {
    text-decoration: none;
    color: #4A4653;
}
#nav-links li a:visited {
    color: #4A4653;
}
#nav-links li a:hover {
    color: #E7EF61;
}
#nav-links li a:active{
    color: #A6D8DB;
}
#nav-links {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

#nav-links li {
    display: inline;
}

header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #A6D8DB;
    width: 100%;

}

#local-weather {
    float: right;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.7em;
}

#logo {
    margin: 0px;
}

#dice {
    font-size: 1.6em;
    padding: 0;
    margin: 0;
    font-weight: 500;
    margin-right: -1.7%
}
#rotated-die {
    transform: rotate(25deg);
    display: inline-block;
    font-size: 1.6em;
}
#logoDiv {
    width: 100%;
    padding-right: 3%;
    font-size: 1em;
}

body {
    display: flex;
    flex-flow: column nowrap;
}
#weatherWhereYouAre {
    padding-bottom: 1%;
    display:flex;
    flex-flow: column;
    align-items: center;
}
#temerature {
    border: 1px solid;
    text-align: center;
    width: 130px;
    margin-bottom: 2%;
    background-color: rgba(200,200,200,.6);
}
#sunny {
    border: 1px solid black;
    border-radius: 15px;
    padding: 0% 3%;
    width: 35%;
    background-color: rgba(200,200,200,.6);
    text-align: center;
    font-weight: 600;
    margin-top: 10%
}

#sun {
    margin: 10%;
    font-size: 1.5em;
}

#temp {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

#temerature h2 {
    font-size: 2.5em;
    margin-top: 15px;
}

#city-name {
    font-size: 1.2em;
    width: 100%;
    padding: 2% 6%;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgba(200,200,200,.6);
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#currentConditions {
    border: 1px solid;
    border-radius: 15px;
    width: 70%;
    padding: 0% 5% 0% 5%;
    font-size: 1em;
    background-color: rgba(200,200,200,.6);
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    flex-flow: column;
}
#weather {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 100%;
}
#wind {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    padding-right: 3%;

}
#actual {
    min-height: 25%;
    display: flex;
    flex-flow: column wrap;
}
#currentConditions h2 {
    font-size: 1.75em;
    text-align: center;
}
#currentConditions span{
    font-size: 1.7em;
}
.hidden {
    display: none;
}
#hourlyForecast{
    width: 34%;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 25%;
    overflow: hidden;
    max-height: 400px;
}
footer {
    background-color: #A6D8DB;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: row;
    font-size: 1em;
    padding: 2% 10% 2% 5%;
    margin-bottom: 15%;
}

#copyright {
    float: left;
    padding-right: 2%
}
@media screen and (min-width: 36em) {
    body {
        width: 80%;
        max-width: 800px;
        margin: auto;
    }
    #logoDiv {
        width: 20em;
    }
    nav {
        position: static;
        font-size: 1.25em;
    }
    .nav-bar-link{
        padding: 0% 2%
    }
    main {
        flex-flow: row wrap;
        background: white;
    }
    .hidden {
        display: initial;
    }
    #weatherWhereYouAre {
        background-image: url(https://byui-cit.github.io/cit230/images/sunny-winter.jpg);
        background-size: cover;
        width: 33%;
        justify-content: initial;
        padding-bottom: 25%;
        max-height: 450px;
    }
    #city-name{
        width: 75%
    }
    #temerature {
        width: 65%;
        margin: 0
    }
    #currentConditions {
        width: 33%;
        margin: 0;
        border: initial;
        border-radius: initial;
        background-color: initial;
        min-height: 400px;
        order: -1;
    }
    #currentConditions h2{
        font-size: 150%;
        width: 120%;
    }
    #weather{
        display: flex;
        align-items: flex-end;
        width: 120%;
    }
    #wind{
        font-weight: 700;
        height: 100%;
    }
    #wind span:first-child{
        padding:0;
        padding-bottom: 15%;
        padding-right:10%;
    }
    #wind span{
        padding-top: 15%;
        padding-right: 10%;
        align-items: flex-end;
    }
    #actual span{
        padding-top: 10%;
    }

    #hourlyForecast ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    footer{
        font-size: 1.25em
    }

}
@media (min-width: 36em) and (max-width: 46em){
    #weather {
        font-size: 0.45em;
    }
    nav{
        font-size: 1.15em;
    }
    #weatherWhereYouAre{
        height: 25em
    }
}
@media (max-width: 56.5em) and (min-width: 46em){
    #weather{
        font-size: 0.5em;
    }
    nav{
        font-size: 1.15em;
    }
}
@media (max-width: 41em) and (min-width: 36em){
    #weather{
        font-size: 0.35em
    }
    nav{
        font-size: 1.0em;
    }
}
